@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

:root{
    --main-primary:     #2ec4bc;
    --main-secondary:   #FF3366;
    --main-dark:        #011627;
    --main-light:       #F6F7F8;
    --link:             #20A4F3;
}

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans';
    background: var(--main-light);
    font-weight: normal;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.container-fluid{
    padding: 0;
}

.main-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Navigation */
.main-container .navigation {
    width: 100%;
    height: 56px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(1,22,39,0);
    color: var(--main-light);
    z-index: 9;
}

.main-container .navigation .logo{
    display: flex;
    align-items: center;
}

.main-container .navigation .logo i {
    font-size: 1.2em;
    margin-left: 10px;
}

.main-container .navigation .logo h1{
    font-size: 1.3em;
    margin: 0;
    margin-left: 5px;
}

.main-container .navigation .navigator .nav-link{
    color: var(--main-light);
}
/* Navigation */

/* header */
.main-container header{
    width: 100%;
    height: 100vh;
    background-image: url('../img/image2.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container header .opacity{
    width: 100%;
    height: 100vh;
    position: absolute;
    background: rgba(1,22,39,.6);
    top: 0;
    left: 0;
    z-index: 1;
}

.main-container header .header-info{
    color: var(--main-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9;
}

.main-container header .header-info h2{
    text-align: center;
    font-weight: 700;
}

.main-container header .header-info .subtitle{
    font-size: 1.5em;
    width: 320px;
    text-align: center;
}

.main-container header i{
    font-size: 2em;
    color: var(--main-light);
    z-index: 9;
    position: absolute;
    bottom: 10px;
}
/* header */

/* about */
.about {
    width: 100%;
    height: 50vh;
    background: var(--main-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--main-light);
}

.about .container h2{
    font-weight: bold;
}

.about .container p{
    font-weight: 300;
}

/* about */

/* works */
.works .card-content:nth-child(1) .card-work{
    background-image: url('../img/image1.jpg');
}
.works .card-content:nth-child(2) .card-work{
    background-image: url('../img/image3.jpg');
}
.works .card-content:nth-child(3) .card-work{
    background-image: url('../img/image4.jpg');
}
.works .card-content:nth-child(4) .card-work{
    background-image: url('../img/image5.jpg');
}
.works .card-content:nth-child(5) .card-work{
    background-image: url('../img/image7.jpg');
}
.works .card-content:nth-child(6) .card-work{
    background-image: url('../img/image6.jpg');
}

.works .card-content {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.works .card-work{
    width: 100%;
    height: 250px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .3s;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.works .card-work .button-more{
    background: var(--main-secondary) !important;
    color: var(--main-light);
    transition: all .7s .2s;
    opacity: 0;
    z-index: 3;
}

.works .card-work:hover{
    transform: scale(1.2);
    opacity: .8;
}

.works .card-work:hover > .button-more{
    opacity: 1;
    transform: scale(.8);
}

/* works */

/* skills */
.skills{
    width: 100%;
    /* height: 50vh; */
    background-image: url('../img/image1.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.skills .opacity {
    width: 100%;
    height: 100%;
    background: rgba(1,22,39,.6);
}

.skills .skill-container{
    align-items: center;
    color: var(--main-light);
}

.skills .skill-container h2{
    text-align: center;
}

.skills .skill-container .my-skill{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.skills .skill-container .my-skill i{
    font-size: 3em;
    margin-bottom: 5px;
}

.skills .skill-container .my-skill p{
    font-size: 1.3em;
}

.skills .skill-container .my-skill .range{
    width: 100%;
    height: 20px;
    background: var(--main-light);
    border-radius: 5px;
    overflow: hidden;
}

.skills .skill-container .my-skill .range .porcent {
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--main-primary);
}

.range-select {
    margin-top: 50px;
}

.range-select:nth-child(1) .range .porcent{
    width: 90%;
}
.range-select:nth-child(2) .range .porcent{
    width: 95%;
}
.range-select:nth-child(3) .range .porcent{
    width: 95%;
}
/* skills */